## Example Environment Configuration file

# Set to development, test or production
CI_ENVIRONMENT = production

# App URL
app.baseURL = 'https://example.com'

# Database Config
database.default.hostname = 'database.hostname'
database.default.database = 'database name'
database.default.username = 'database username'
database.default.password = 'database password'

# Secret keys
HASH_SECRET_KEY = 'hash secret key'

# SMTP Server for emails
email.SMTPHost = 'mail.example.com'
email.SMTPUser = 'youruser@example.com'
email.SMTPPass = 'yourpassword'
email.SMTPPort = '587'
email.SMTPCrypto = 'tls'